#buscador input[type=submit], .next, .prev {
  font-family: "Poppins", sans-serif;
  padding: 1rem 1.5rem;
  background-color: #3d7c98;
  border: none;
  outline: none;
  color: #f5f5f5;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
#buscador input[type=submit]:hover, .next:hover, .prev:hover {
  background-color: #323d48;
}

.steel {
  background-color: rgba(211, 211, 211, 0.7);
}

.water {
  background-color: rgba(65, 105, 225, 0.7);
}

.fire {
  background-color: rgba(220, 20, 60, 0.7);
}

.grass {
  background-color: rgba(0, 255, 0, 0.7);
}

.poison {
  background-color: rgba(147, 112, 216, 0.7);
}

.bug {
  background-color: rgba(153, 205, 50, 0.6);
}

.ice {
  background-color: rgba(127, 255, 212, 0.7);
}

.dragon {
  background-color: rgba(123, 104, 238, 0.7);
}

.electric {
  background-color: rgba(255, 255, 1, 0.6);
}

.ghost {
  background-color: rgba(128, 0, 128, 0.7);
}

.fairy {
  background-color: rgba(255, 136, 238, 0.7);
}

.fighting {
  background-color: rgba(178, 34, 34, 0.7);
}

.normal {
  background-color: rgba(230, 230, 250, 0.7);
}

.psychic {
  background-color: rgba(238, 130, 238, 0.6);
}

.rock {
  background-color: rgba(205, 134, 63, 0.7);
}

.dark {
  background-color: rgba(112, 128, 144, 0.7);
}

.ground {
  background-color: rgba(222, 184, 135, 0.7);
}

.flying {
  background-color: rgba(150, 150, 150, 0.7);
}

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
}

.Container {
  min-height: 100vh;
  width: 100%;
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-image: url("../assets/images/Mundo_Pokemon.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgba(50, 61, 72, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: #323d48;
}

.hero {
  flex-grow: 0;
  width: 100%;
  height: 15vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.hero .logotipo {
  width: 4rem;
  height: auto;
}
.hero .logo {
  max-width: 100%;
}

#buscador {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}
#buscador #buscar {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  width: 70%;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  background-color: #f5f5f5;
  color: #323d48;
  font-weight: 600;
}
main {
  width: 95%;
  height: auto;
  flex-grow: 2;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
main .container_pokemones {
  position: relative;
  flex-grow: 2;
  height: auto;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.loader {
  position: absolute;
  left: 40%;
  top: 30%;
  width: 20%;
  min-width: 100px;
  height: auto;
  height: auto;
  display: none;
}
.loader .load {
  max-width: 100%;
  height: auto;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.block {
  display: block;
}

.container_card_pokemon {
  max-height: 300px;
  width: 100%;
  border-radius: 1rem;
  background-image: url("../assets/images/Pokeball.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s linear;
}
.container_card_pokemon:hover {
  transform: translateY(-10px);
}
.container_card_pokemon .nombre {
  width: 100%;
  text-transform: capitalize;
  font-size: clamp(1.25rem, 2vw, 2.5rem);
  background-color: rgba(50, 61, 72, 0.5);
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 5px rgba(50, 61, 72, 0.5);
  padding: 0.5rem;
  color: #f5f5f5;
}
.container_card_pokemon .img_pokemon {
  min-width: 200px;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.container_modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(rgba(50, 61, 72, 0.5), #3d7c98);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear;
}

.container_modal.isActive {
  visibility: visible;
  opacity: 1;
}
.container_modal.isActive .modal {
  visibility: visible;
  opacity: 1;
}

.modal {
  min-height: 70vh;
  width: 80vw;
  min-width: 300px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-image: url("../assets/images/Pokeball.png"), linear-gradient(#f5f5f5, #f5f5f5);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #323d48;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out 1s;
}
.modal header {
  margin-top: 1.5rem;
  width: 40%;
  min-width: 100px;
}
.modal img {
  max-width: 100%;
}
.modal .type {
  display: flex;
  justify-content: space-evenly;
  gap: 0.2rem;
  color: #f5f5f5;
  width: 100%;
  font-size: 1.5rem;
}
.modal .type span {
  padding: 0.5rem 1.5rem;
  font-weight: 600;
}
.modal .nombre {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: rgba(34, 34, 34, 0.69);
  color: #f5f5f5;
  width: 80%;
  margin: 0 auto;
}
.modal .habilidades {
  padding: 1rem 0.2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(50, 61, 72, 0.5);
  border-radius: 1rem;
  margin: 1rem 0;
}
.modal .estadisticas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 0.8rem;
}
.modal .estadisticas p {
  margin-left: 0.2rem;
  text-align: start;
  width: 140px;
  font-weight: 600;
  color: #f5f5f5;
}
.modal .estadisticas span {
  font-weight: 600;
  position: relative;
  display: block;
  display: grid;
  place-items: center;
  padding: 0 0.5rem;
  height: 20px;
  background-color: #a8dff1;
  color: #323d48;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.modal .estadisticas span::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 3px;
  display: block;
  width: 15px;
  height: 10px;
  background-color: inherit;
  transform: rotate(140deg);
}
.modal .estadisticas span::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 3px;
  display: block;
  width: 15px;
  height: 10px;
  transform: rotate(-140deg);
  background-color: inherit;
}
.modal .estadisticas span.opacity {
  opacity: 1;
}

.progressive {
  position: relative;
  height: 0.5rem;
  width: 100px;
  padding: 0 1rem;
  border-radius: 1rem;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: clip-path 0.5s linear;
}

.hp + .progressive {
  background-color: rgb(219, 50, 80);
}

.attack + .progressive {
  background-color: royalblue;
}

.defense + .progressive {
  background-color: rgb(140, 210, 100);
}

.special-attack + .progressive {
  background-color: #be5046;
}

.special-defense + .progressive {
  background-color: rgb(235, 165, 100);
}

.speed + .progressive {
  background-color: rgb(200, 200, 200);
}

.progressive.clip {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.exit {
  position: absolute;
  z-index: 10;
  top: 5vh;
  right: 10px;
  cursor: pointer;
}
.exit img {
  width: 4rem;
  height: auto;
}

.fo {
  flex-grow: 0;
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #323d48;
  text-align: center;
  gap: 0.5rem;
}
.fo .agradecimientos {
  width: 60%;
  min-width: 200px;
  color: #f5f5f5;
  font-weight: 600;
  text-align: center;
}
.fo .logotipo {
  width: 100px;
  min-width: 70px;
  height: auto;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 50%;
}
.fo .logotipo img {
  width: 100%;
}
.fo .enlace {
  display: inline-block;
  width: 70px;
  height: auto;
  padding: 1rem;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
}
.fo .enlace:hover {
  animation: rotate 1s linear;
}
.fo .enlace svg {
  cursor: pointer;
  fill: #f5f5f5;
  max-width: 100%;
  height: auto;
  transition: fill 0.5s linear;
}
.fo .enlace svg:hover {
  fill: #3d7c98;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 1035px) {
  main {
    flex-direction: column-reverse;
  }
  main .container_pokemones {
    min-height: 30vh;
  }
}
@media screen and (max-width: 460px) {
  .hero {
    flex-direction: column;
    height: auto;
  }
  #buscador {
    width: 100%;
  }
  .fo {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 350px) {
  .modal fle .type {
    flex-direction: column;
    gap: 1rem;
    width: 120%;
  }
  .modal fle .type p {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .modal {
    width: 80vw;
  }
}

/*# sourceMappingURL=style.css.map */
